<div class="container-fluid p-0" *ngIf="!popup">
  <!-- Start Header -->
  <div class="banner-fluid">
    <!-- Desktop View -->
    <div
      class="d-none d-md-flex align-items-center"
      style="height: 400px; background: url(assets/img/header.png)"
    >
      <div style="position: absolute; top: 30px; right: 70px">
        <span class="text-light pixel-font">
          <img
            src="assets/icons/coin.svg"
            style="width: 20px; margin-top: -7px; margin-right: -8px"
          />
          {{ points }}
        </span>
      </div>

      <div class="d-flex offset-md-1">
        <img [src]="user.avatar" class="icon" style="width: 165px" />
        <img
          src="assets/icons/edit.svg"
          style="
            width: 24px;
            cursor: pointer;
            margin-left: -1.8em;
            margin-top: 8.2em;
          "
          (click)="open(avatar, 'md')"
        />
        <div class="ml-md-4">
          <p class="text-light pixel-font mb-md-0" style="font-size: 32px">
            {{ user.firstName }} {{ user.lastName }}
          </p>
          <br />
          <p
            class="text-light pixel-font mt-md-0 mb-md-0"
            style="font-size: 14px; text-transform: uppercase"
          >
            Level 1: Beginner
          </p>

          <div class="d-md-flex flex-row w-100 mt-md-2 mb-md-3">
            <img src="assets/icons/power.svg" style="width: 18px" />
            <div class="level-bar w-100 ml-3">
              <div class="w-50"></div>
            </div>
          </div>

          <button
            class="btn-pixel-shop pixel-font"
            (click)="open(shopModal, 'md')"
          >
            Shop
          </button>
        </div>
        <div
          *ngIf="alerts"
          class="d-inline offset-md-8 position-fixed"
          style="z-index: 99"
        >
          <p *ngFor="let alert of alerts; index as i">
            <ngb-alert [type]="alert.type" (closed)="close(i)"
              ><img src="assets/icons/coin.svg" style="width: 18px" />
              {{ alert.message }}</ngb-alert
            >
          </p>
        </div>
      </div>
    </div>

    <!-- Mobile View -->
    <div
      class="d-md-none d-flex flex-column align-items-center justify-content-center"
      style="height: 400px; background: url(assets/img/header.png)"
    >
      <div style="position: absolute; top: 30px; right: 70px">
        <span class="text-light pixel-font">
          <img
            src="assets/icons/coin.svg"
            style="width: 20px; margin-top: -7px; margin-right: -8px"
          />
          1122
        </span>
      </div>
      <div>
        <img
          [src]="user.avatar"
          class="icon"
          style="width: 100px; height: 100px"
        />
        <img
          src="assets/icons/edit.svg"
          style="
            width: 20px;
            cursor: pointer;
            margin-left: -1.6em;
            margin-top: 4.5em;
          "
          (click)="open(avatar, 'md')"
        />
      </div>
      <p class="text-light pixel-font mt-3 mb-2" style="font-size: 24px">
        {{ user.firstName }} {{ user.lastName }}
      </p>
      <p
        class="text-light pixel-font mt-2 mb-2"
        style="font-size: 12px; text-transform: uppercase"
      >
        Level 1: Warrior
      </p>
      <div class="d-flex flex-row w-100 justify-content-center">
        <img src="assets/icons/power.svg" style="width: 18px" />
        <div class="level-bar w-50 ml-3">
          <div class="w-50"></div>
        </div>
      </div>
      <button
        class="btn-pixel-shop pixel-font mt-3"
        (click)="open(shopModal, 'md')"
      >
        Shop
      </button>
    </div>
    <!-- End Header -->

    <!-- Start Progress Bar -->
    <!-- Desktop View -->
    <div class="d-none d-md-block my-5">
      <div
        class="d-flex justify-content-center mb-4 pixel-font"
        style="color: #7b1b67; text-transform: uppercase"
      >
        My Progress
      </div>

      <div class="offset-md-1 col-md-10">
        <div
          class="d-flex flex-column avatar-progress"
          [style.width]="allCheck + '%'"
        >
          <img class="ml-auto" [src]="user.avatar" style="width: 40px" />
        </div>
        <div class="progress-bar">
          <div [style.width]="allCheck + '%'"></div>
        </div>
      </div>

      <div
        class="offset-md-1 col-md-10 d-flex justify-content-between"
        style="margin-top: -22px"
      >
        <div>
          <img src="" />
        </div>

        <div>
          <img
            src="assets/icons/star.svg"
            style="width: 24px; cursor: pointer"
            (click)="open(game, 'lg')"
          />
        </div>

        <div>
          <img
            src="assets/icons/star.svg"
            style="width: 24px; cursor: pointer"
            (click)="open(game2, 'lg')"
          />
        </div>

        <div>
          <img
            src="assets/icons/trophy.svg"
            style="width: 30px; margin-right: -22px"
          />
        </div>
      </div>

      <div
        class="col-md-11 mx-md-5 mt-md-2 d-flex justify-content-between pixel-font-light font-weight-bold"
        style="font-size: 16px"
      >
        <span>Pre-Onboarding</span>
        <span>Onboarding</span>
        <span>Post-Onboarding</span>
        <span>Completed</span>
      </div>
    </div>

    <!-- Mobile View -->
    <div class="d-md-none d-block my-5 mx-3">
      <div
        class="d-flex justify-content-center mb-4 pixel-font"
        style="color: #7b1b67; text-transform: uppercase; font-size: 14px"
      >
        My Progress
      </div>

      <div class="d-flex justify-content-end w-50">
        <img [src]="user.avatar" style="width: 40px" />
      </div>

      <div class="progress-bar w-100">
        <div class="w-50"></div>
      </div>

      <div
        class="offset-md-1 col-md-10 d-flex justify-content-between"
        style="margin-top: -22px"
      >
        <div>
          <img src="" />
        </div>

        <div>
          <img
            src="assets/icons/star.svg"
            style="width: 24px; cursor: pointer"
            (click)="open(game, 'lg')"
          />
        </div>

        <div>
          <img
            src="assets/icons/star.svg"
            style="width: 24px; cursor: pointer"
            (click)="open(game2, 'lg')"
          />
        </div>

        <div>
          <img
            src="assets/icons/trophy.svg"
            style="width: 30px; margin-right: -22px"
          />
        </div>
      </div>

      <div
        class="d-flex justify-content-between mt-2 pixel-font-light font-weight-bold"
        style="font-size: 12px; text-align: center"
      >
        <span>Pre-<br />Onboarding</span>
        <span>Onboarding</span>
        <span>Post-<br />Onboarding</span>
        <span>Completed</span>
      </div>
    </div>
    <!-- End Progress Bar -->
  </div>

  <!--Start Checklist-->
  <div class="mx-3 mx-md-5" *ngIf="!popup">
    <div class="row">
      <!-- Pre-Onboarding -->
      <div class="col-md-3 col-12">
        <ng-container *ngFor="let list of userChecklists">
          <p class="pixel-font text-uppercase" style="font-size: 12px">
            Pre-Onboarding
          </p>
          <div class="line border-celcom-purple-20-black mt-n2"></div>
          <div
            [ngClass]="{ 'bg-checked': item.checked === true }"
            *ngFor="let item of list.lists | filter: 'Pre-Onboarding':'tags'"
            class="card-pixel my-3"
            id="card-checked"
          >
            <div class="card-body">
              <div class="form-check d-flex my-auto">
                <input
                  class="form-check-input align-self-center mr-5"
                  type="checkbox"
                  name="itemid"
                  [value]="item.id"
                  [checked]="item.checked"
                  (change)="onCheckboxChange($event)"
                  [disabled]="disabledPreOnboardingList"
                />
                <div class="ml-3">
                  <p
                    class="form-check-label font-weight-bold pixel-font-light"
                    for="flexCheckDefault"
                    style="font-size: 16px"
                  >
                    {{ item.title }}
                  </p>
                  <small
                    class="pixel-font-light mb-0"
                    style="font-size: 12px"
                    [innerHTML]="item.description"
                  ></small>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <!-- Onboarding -->
      <div class="col-md-3 col-12 mt-4 mt-md-0">
        <ng-container *ngFor="let list of userChecklists">
          <p class="pixel-font text-uppercase" style="font-size: 12px">
            Onboarding
          </p>
          <div class="line border-dark mt-n2"></div>
          <div
            [ngClass]="{ 'bg-checked': item.checked === true }"
            *ngFor="let item of list.lists | filter: 'Onboarding':'tags'"
            class="card-pixel my-3"
            id="card-checked"
          >
            <div class="card-body">
              <div class="form-check d-flex my-auto">
                <input
                  class="form-check-input align-self-center mr-5"
                  type="checkbox"
                  name="itemid"
                  [value]="item.id"
                  [checked]="item.checked"
                  (change)="onCheckboxChange($event)"
                  [disabled]="disabledPreOnboardingList"
                />
                <div class="ml-3">
                  <p
                    class="form-check-label font-weight-bold pixel-font-light"
                    for="flexCheckDefault"
                  >
                    {{ item.title }}
                  </p>
                  <small
                    class="pixel-font-light mb-0"
                    [innerHTML]="item.description"
                  ></small>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <!-- Post-Onboarding -->
      <div class="col-md-3 col-12 mt-4 mt-md-0">
        <ng-container *ngFor="let list of userChecklists">
          <p class="pixel-font text-uppercase" style="font-size: 12px">
            Post-Onboarding
          </p>
          <div class="line border-primary mt-n2"></div>
          <div
            [ngClass]="{ 'bg-checked': item.checked === true }"
            *ngFor="let item of list.lists | filter: 'Post-Onboarding':'tags'"
            class="card-pixel my-3"
            id="card-checked"
          >
            <div class="card-body">
              <div class="form-check d-flex my-auto">
                <input
                  class="form-check-input align-self-center mr-5"
                  type="checkbox"
                  name="itemid"
                  [value]="item.id"
                  [checked]="item.checked"
                  (change)="onCheckboxChange($event)"
                  [disabled]="disabledPreOnboardingList"
                />
                <div class="ml-3">
                  <p
                    class="form-check-label font-weight-bold pixel-font-light"
                    for="flexCheckDefault"
                  >
                    {{ item.title }}
                  </p>
                  <small
                    class="pixel-font-light mb-0"
                    [innerHTML]="item.description"
                  ></small>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <!-- To-do -->
      <div class="col-md-3 col-12 mt-4 mt-md-0">
        <ng-container *ngFor="let list of userChecklists">
          <p class="pixel-font text-uppercase" style="font-size: 12px">To-Do</p>
          <div class="line border-warning mt-n2"></div>
          <div class="card-pixel my-3 pt-4 pb-4">
            <a class="d-flex btn flex-column" href="#">
              <img
                class="mx-auto"
                src="../../../assets/icons/new-task.svg"
                style="width: 30px"
                alt=""
              />
              <p class="mb-0 pixel-font-light mt-3 mx-auto">Add new task</p>
            </a>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<!-- Start Shop Modal -->
<ng-template #shopModal let-modal>
  <div class="modal-header d-flex justify-content-end px-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20px"
      height="20px"
      style="cursor: pointer"
      viewBox="0 0 121.31 122.876"
      (click)="modal.close()"
    >
      <g>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M90.914,5.296c6.927-7.034,18.188-7.065,25.154-0.068 c6.961,6.995,6.991,18.369,0.068,25.397L85.743,61.452l30.425,30.855c6.866,6.978,6.773,18.28-0.208,25.247 c-6.983,6.964-18.21,6.946-25.074-0.031L60.669,86.881L30.395,117.58c-6.927,7.034-18.188,7.065-25.154,0.068 c-6.961-6.995-6.992-18.369-0.068-25.397l30.393-30.827L5.142,30.568c-6.867-6.978-6.773-18.28,0.208-25.247 c6.983-6.963,18.21-6.946,25.074,0.031l30.217,30.643L90.914,5.296L90.914,5.296z"
        />
      </g>
    </svg>
  </div>

  <div class="modal-body mx-4 my-2">
    <div class="d-flex justify-content-end">
      <span class="text-dark pixel-font" style="font-size: 14px">
        <img
          src="assets/icons/coin.svg"
          style="width: 20px; margin-top: -5px; margin-right: -5px"
        />
        1122
      </span>
    </div>

    <div class="d-flex justify-content-center mt-3">
      <!-- Look 1 -->
      <div class="look col-4 px-0 mx-2">
        <div class="d-flex justify-content-center pt-4">
          <img src="assets/icons/female2.svg" style="width: 90px" />
        </div>
        <div
          class="d-flex justify-content-center align-items-end p-2 pixel-font-light font-weight-bold"
          style="
            background: rgba(253, 199, 93, 0.5);
            font-size: 14px;
            border-top: 2px solid #000;
          "
        >
          <img
            src="assets/icons/coin.svg"
            style="width: 16px; margin-top: -8px; margin-right: 7px"
          />
          100
        </div>
      </div>

      <!-- Look 2 -->
      <div class="look col-4 px-0 mx-2">
        <div class="d-flex justify-content-center pt-4">
          <img src="assets/icons/female.svg" style="width: 90px" />
        </div>
        <div
          class="d-flex justify-content-center align-items-end p-2 pixel-font-light font-weight-bold"
          style="
            background: rgba(253, 199, 93, 0.5);
            font-size: 14px;
            border-top: 2px solid #000;
          "
        >
          <img
            src="assets/icons/coin.svg"
            style="width: 16px; margin-top: -8px; margin-right: 7px"
          />
          100
        </div>
      </div>

      <!-- Look 3 -->
      <div class="look col-4 px-0 mx-2">
        <div class="d-flex justify-content-center pt-4">
          <img src="assets/icons/female3.svg" style="width: 90px" />
        </div>
        <div
          class="d-flex justify-content-center align-items-end p-2 pixel-font-light font-weight-bold"
          style="
            background: rgba(253, 199, 93, 0.5);
            font-size: 14px;
            border-top: 2px solid #000;
          "
        >
          <img
            src="assets/icons/coin.svg"
            style="width: 16px; margin-top: -8px; margin-right: 7px"
          />
          100
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- End Shop Modal -->

<!-- start modal -->
<ng-template #start let-modal>
  <div class="modal-header d-flex justify-content-end">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20px"
      height="20px"
      viewBox="0 0 121.31 122.876"
      routerLink="/checklist"
      (click)="modal.close('Ok click')"
    >
      <g>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M90.914,5.296c6.927-7.034,18.188-7.065,25.154-0.068 c6.961,6.995,6.991,18.369,0.068,25.397L85.743,61.452l30.425,30.855c6.866,6.978,6.773,18.28-0.208,25.247 c-6.983,6.964-18.21,6.946-25.074-0.031L60.669,86.881L30.395,117.58c-6.927,7.034-18.188,7.065-25.154,0.068 c-6.961-6.995-6.992-18.369-0.068-25.397l30.393-30.827L5.142,30.568c-6.867-6.978-6.773-18.28,0.208-25.247 c6.983-6.963,18.21-6.946,25.074,0.031l30.217,30.643L90.914,5.296L90.914,5.296z"
        />
      </g>
    </svg>
  </div>
  <div class="modal-body">
    <div class="m-4 text-center">
      <p class="my-5 pixel-font-light">
        Hello there! <br />
        Would you like to try our checklist gamification?
      </p>
      <div class="d-flex justify-content-center">
        <button
          type="button"
          class="pixel-font btn-pixel mr-2"
          (click)="modal.close('Ok click'); open(gender, 'md')"
        >
          YES
        </button>
        <button
          type="button"
          class="pixel-font btn-pixel ml-2"
          routerLink="/checklist"
          (click)="modal.close('Ok click')"
        >
          NO
        </button>
      </div>
    </div>
  </div>
</ng-template>
<!-- end modal -->

<!-- start gender modal -->
<ng-template #gender let-modal>
  <div class="modal-header d-flex justify-content-end">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20px"
      height="20px"
      style="cursor: pointer"
      viewBox="0 0 121.31 122.876"
      routerLink="/checklist"
      (click)="modal.close('Ok click')"
    >
      <g>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M90.914,5.296c6.927-7.034,18.188-7.065,25.154-0.068 c6.961,6.995,6.991,18.369,0.068,25.397L85.743,61.452l30.425,30.855c6.866,6.978,6.773,18.28-0.208,25.247 c-6.983,6.964-18.21,6.946-25.074-0.031L60.669,86.881L30.395,117.58c-6.927,7.034-18.188,7.065-25.154,0.068 c-6.961-6.995-6.992-18.369-0.068-25.397l30.393-30.827L5.142,30.568c-6.867-6.978-6.773-18.28,0.208-25.247 c6.983-6.963,18.21-6.946,25.074,0.031l30.217,30.643L90.914,5.296L90.914,5.296z"
        />
      </g>
    </svg>
  </div>
  <div class="modal-body">
    <div class="m-4 text-center">
      <p class="my-5 pixel-font-light" style="font-size: 20px">
        Choose your gender
      </p>
      <div class="d-flex justify-content-center">
        <button
          type="button"
          class="pixel-font btn-pixel mr-2"
          (click)="
            modal.close('Ok click'); setGender('male'); open(avatar, 'md')
          "
        >
          MALE
        </button>
        <button
          type="button"
          class="pixel-font btn-pixel ml-2"
          (click)="
            modal.close('Ok click'); setGender('female'); open(avatar, 'md')
          "
        >
          FEMALE
        </button>
      </div>
    </div>
  </div>
</ng-template>
<!-- end modal -->

<!-- start avatar modal -->
<ng-template #avatar let-modal>
  <div class="modal-header d-flex justify-content-end">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20px"
      height="20px"
      style="cursor: pointer"
      viewBox="0 0 121.31 122.876"
      routerLink="/checklist"
      (click)="modal.close('Ok click')"
    >
      <g>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M90.914,5.296c6.927-7.034,18.188-7.065,25.154-0.068 c6.961,6.995,6.991,18.369,0.068,25.397L85.743,61.452l30.425,30.855c6.866,6.978,6.773,18.28-0.208,25.247 c-6.983,6.964-18.21,6.946-25.074-0.031L60.669,86.881L30.395,117.58c-6.927,7.034-18.188,7.065-25.154,0.068 c-6.961-6.995-6.992-18.369-0.068-25.397l30.393-30.827L5.142,30.568c-6.867-6.978-6.773-18.28,0.208-25.247 c6.983-6.963,18.21-6.946,25.074,0.031l30.217,30.643L90.914,5.296L90.914,5.296z"
        />
      </g>
    </svg>
  </div>
  <div class="modal-body">
    <div class="m-4 text-center">
      <p class="my-5 pixel-font-light" style="font-size: 20px">
        So, how would you like to look?
      </p>
      <div class="d-flex flex-column">
        <div class="row">
          <div class="col d-flex flex-column align-items-center my-auto">
            <img src="assets/icons/hair.svg" style="width: 24px" />
            <p class="pixel-font-light">Hair</p>
            <img src="assets/icons/skin.svg" style="width: 24px" />
            <p class="pixel-font-light">Skin</p>
            <img src="assets/icons/cloth.svg" style="width: 24px" />
            <p class="pixel-font-light">Clothes</p>
          </div>
          <div class="col d-flex flex-column align-items-center my-auto">
            <img
              type="button"
              src="assets/icons/arrow.svg"
              style="width: 24px"
              (click)="changeHair(i - 1)"
            /><br />
            <img
              type="button"
              src="assets/icons/arrow.svg"
              style="width: 24px"
              (click)="changeFace(j - 1)"
            /><br />
            <img
              type="button"
              src="assets/icons/arrow.svg"
              style="width: 24px"
              (click)="changeClothes(k - 1)"
            />
          </div>
          <div class="col d-flex flex-column align-items-center my-auto">
            <img [src]="user.avatar" style="width: 100px" />
          </div>
          <div class="col d-flex flex-column align-items-center my-auto">
            <img
              type="button"
              src="assets/icons/arrow2.svg"
              style="width: 24px"
              (click)="changeHair(i + 1)"
            /><br />
            <img
              type="button"
              src="assets/icons/arrow2.svg"
              style="width: 24px"
              (click)="changeFace(j + 1)"
            /><br />
            <img
              type="button"
              src="assets/icons/arrow2.svg"
              style="width: 24px"
              (click)="changeClothes(k + 1)"
            />
          </div>
        </div>
        <div class="row justify-content-center">
          <button
            type="button"
            class="pixel-font btn-pixel ml-2"
            (click)="modal.close('Ok click'); onDone()"
          >
            DONE
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- end modal -->

<!-- start game modal -->
<ng-template #game class="game-modal" let-modal>
  <div class="modal-header d-flex justify-content-end">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20px"
      height="20px"
      style="cursor: pointer"
      viewBox="0 0 121.31 122.876"
      (click)="modal.close('Ok click')"
    >
      <g>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M90.914,5.296c6.927-7.034,18.188-7.065,25.154-0.068 c6.961,6.995,6.991,18.369,0.068,25.397L85.743,61.452l30.425,30.855c6.866,6.978,6.773,18.28-0.208,25.247 c-6.983,6.964-18.21,6.946-25.074-0.031L60.669,86.881L30.395,117.58c-6.927,7.034-18.188,7.065-25.154,0.068 c-6.961-6.995-6.992-18.369-0.068-25.397l30.393-30.827L5.142,30.568c-6.867-6.978-6.773-18.28,0.208-25.247 c6.983-6.963,18.21-6.946,25.074,0.031l30.217,30.643L90.914,5.296L90.914,5.296z"
        />
      </g>
    </svg>
  </div>
  <div class="modal-body">
    <app-osom></app-osom>
  </div>
</ng-template>
<ng-template #game2 class="game-modal" let-modal>
  <div class="modal-header d-flex justify-content-end">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20px"
      height="20px"
      style="cursor: pointer"
      viewBox="0 0 121.31 122.876"
      (click)="modal.close('Ok click')"
    >
      <g>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M90.914,5.296c6.927-7.034,18.188-7.065,25.154-0.068 c6.961,6.995,6.991,18.369,0.068,25.397L85.743,61.452l30.425,30.855c6.866,6.978,6.773,18.28-0.208,25.247 c-6.983,6.964-18.21,6.946-25.074-0.031L60.669,86.881L30.395,117.58c-6.927,7.034-18.188,7.065-25.154,0.068 c-6.961-6.995-6.992-18.369-0.068-25.397l30.393-30.827L5.142,30.568c-6.867-6.978-6.773-18.28,0.208-25.247 c6.983-6.963,18.21-6.946,25.074,0.031l30.217,30.643L90.914,5.296L90.914,5.296z"
        />
      </g>
    </svg>
  </div>
  <div class="modal-body">
    <app-tetris></app-tetris>
  </div>
</ng-template>
